<div mat-dialog-content class="dialog-center-text-and-icon">
    <h2>Issues</h2>
        <table mat-table [dataSource]="dataSource" >
    
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>
              Date of created
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.created_at | date: "h:mm a, d MMMM y" }}
            </td>
          </ng-container>
    
          <ng-container matColumnDef="header">
            <th mat-header-cell *matHeaderCellDef>
              Header
            </th>
            <td mat-cell *matCellDef="let element" >{{ element.title}}</td>
          </ng-container>
    
          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef>Text</th>
            <td mat-cell *matCellDef="let element">{{ element.body }}
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            page="5"
          ></tr>
        </table>
</div>
<div mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close>Close</button>
</div>
